{% extends 'layout.html' %}

{% block content %}

  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
          <small class="text-muted" href="#">{{ post.postType }}</small>

        </div>

        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <span>
        <p class="article-content">{{ post.content }} <a class="text-muted" href="{{ url_for('post', post_id=post.id) }}">#</a> </p>
        </span>
      </div>
    </article>
  {% endfor %}

{% endblock %}
