{% extends 'layout.html' %}

{% block content %}
<style>
    .article-metadata {
      font-size: 26px;
      font-weight: 300;
      margin-bottom: 20px;
      margin-top: 30px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(136, 136, 136, 0.2);
      width: 100%;
    }

    a {
      color: #333333;;
    }

    p {
      font-size: 20px;
      font-weight: 200;
      line-height: 1.25em;
      padding-left: 10px;
      margin-bottom: 15px;
      padding-bottom: 15px;

      width: 100%;
    }
</style>

{% set ns = namespace(post_date='nothing') %}

{% for post in posts %}

    <!-- if the date is a new day -->
    {% if ns.post_date != post.date_posted.strftime('%Y-%m-%d') %}

        {% set ns.post_date = post.date_posted.strftime('%Y-%m-%d') %}

        <div class="article-metadata">
            <small class="text-muted">{{ post.date_posted.strftime('%d %B %Y') }}</small>
        </div>



    <!-- if the date is the same day -->
    {% else %}
         <!--Add a url to the markdown content -->
        {% set post_content = '[#](' + url_for('post', post_id=post.id) + ') ' + post.content%}
        {{ post_content|markdown }}
    {% endif %}


{% endfor %}

{% endblock %}
